/* simple tree */
.simple-tree {
  user-select: none;
  -moz-user-select: none;
}
.simple-tree>details>summary {
  display: none;
}
.simple-tree a,
.simple-tree summary {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  border: solid 1px transparent;
  padding: 0 2px;
  outline: none;
  cursor: pointer;
}
.simple-tree a {
  text-decoration: none;
  color: inherit;
}
.simple-tree ::-webkit-details-marker {
  display: none;
}
.simple-tree summary {
  list-style-type: none;
  background-color: #eee;
  outline: none;
}
.simple-tree.dark summary {
  background-color: #444;
}
.simple-tree details>:not(details),
.simple-tree details {
  position: relative;
}
.simple-tree details :not(summary) {
  margin-left: 20px;
}
.simple-tree.nodots details :not(summary) {
  margin-left: 12px;
}
.simple-tree details::before,
.simple-tree details>:not(details)::before {
  content: '';
  width: 10px;
  display: block;
  position: absolute;
}
.simple-tree details::before,
.simple-tree details>:not(details)::before {
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="1" height="1"/></g></svg>') left top / 2px 2px;
}
.simple-tree.dark details::before,
.simple-tree.dark details>:not(summary)::before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="1" height="1" fill="white"/></g></svg>');
}
.simple-tree.nodots details::before,
.simple-tree.nodots details>:not(summary)::before {
  background-image: none;
}
.simple-tree details::before {
  top: 0;
  height: 100%;
  background-repeat: repeat-y;
  left: 5px;
  z-index: -1;
}
.simple-tree details>:not(details)::before {
  top: 8px;
  height: calc(100% - 8px);
  background-repeat: repeat-x;
  left: -15px;
}
.simple-tree details>summary::before {
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="12" height="12" fill="white" stroke="gray" stroke-width="1"/><line x1="3" y1="6" x2="9" y2="6" stroke="black" stroke-width="2"/><line x1="6" y1="3" x2="6" y2="9" stroke="black" stroke-width="2"/></g></svg>') center center / 12px 12px no-repeat;
  left: -22px;
  top: 2px;
  width: 16px;
  height: 16px;
}
.simple-tree details[open]>summary::before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><title/><g><rect x="0" y="0" width="12" height="12" fill="white" stroke="gray" stroke-width="1"/><line x1="3" y1="6" x2="9" y2="6" stroke="black" stroke-width="2"/></g></svg>');
}
/* async tree */
.async-tree details[open][data-loaded=false] {
  pointer-events: none;
}
.async-tree details[open][data-loaded=false]>summary::before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><animateTransform attributeName="transform" type="rotate" from="0 32 32" to="360 32 32" dur="1s" repeatCount="indefinite"/><circle cx="32" cy="32" r="32" fill="whitesmoke"/><path d="M 62 32 A 30 30 0 0 0 32 2" style="stroke: black; stroke-width:6; fill:none;"/></g></svg>');
}
.async-tree.black details[open][data-loaded=false]>summary::before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><animateTransform attributeName="transform" type="rotate" from="0 32 32" to="360 32 32" dur="1s" repeatCount="indefinite"/><circle cx="32" cy="32" r="32" fill="whitesmoke"/><path d="M 62 32 A 30 30 0 0 0 32 2" style="stroke: white; stroke-width:6; fill:none;"/></g></svg>');
}
/* select tree */
.select-tree .selected {
  background-color: #beebff;
  border-color: #99defd;
  z-index: 1;
}

.select-tree.dark .selected {
  background-color: #3a484e;
  border-color: #99defd;
}
.streamlit-expanderHeader {
  font-family: sans-serif;
  font-weight: bold;
  color: #e10202;
  font-size: 24px;
  background-color: #111111b3;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.streamlit-expanderHeader >* {
  color: white;
}

.stMarkdown {
  text-align: left;
}


.streamlit-expanderContent {
  color: white;
  background-color: #111111b8;
}

.css-1vgnld3.effi0qh0 {
  color: white;
}

.row-widget.stButton >* {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
  border: 14px;
  margin-top: 30px;
  background-color: #12b3ed;
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.css-f341up.e16nr0p31 {
  background-color: #0000009e;
  padding: 19px;
  margin-left: 30px;
  border-radius: 10px;
}

div.e1tzin5v2:not(.css-ulq27u):not(.css-ht50i) {
  background-color: #fef9f9;
  border-radius: 5px;
  border: 1px solid #ea9009;
  text-align: center;
  font-weight: bold;
  color: rgb(9, 9, 9);
  font-size: 12px;
  /*margin: 5px;*/
  padding: 10px;
  font-family: serif;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-1v0mbdj.etr89bj1 {
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

.css-1v0mbdj.etr89bj1:hover {
  -webkit-transform: scale(1.2);
transform: scale(1.2);
  z-index: 1000;
}

.css-177yq5e {
  margin-bottom: 0rem;
}

.css-e370rw.e19lei0e0 {
  visibility: hidden;

}
.css-zw9mgv.edgvbvh6{
  color: white;
  border-color: white;
}

#movie-recommender-system {
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  color: #e10202;
  font-size: 30px;
}

.stApp.streamlit-wide  {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("https://images.pexels.com/photos/1117210/pexels-photo-1117210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}
